body {
    margin: 0;
    
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    
	background-color: #f2f2f2;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}


.page {
    width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #fff;
} 

/* Поскольку все margin прописываюся в ручную, то имеет смысл сбросить изначально все автоматические отступы по умолчанию для заголовков*/
h1, h1, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

.conteiner {
    display: flex;
}

/*Ниже приведен пример адаптации картинки к размерам страницы млм блока. Так она выравнивается под размер сама, без нудных подсчетов*/
.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Header */

.header {
    padding: 20px;
    border-radius: 10px;
	
    background-color: #19085f;
}

.header-title {
    margin: 0;
    
    font-size: 24px;
    color: #fff;
    text-align: center;
    
}

.header-subtitle {
    margin: 0;
    
    font-size: 18px;
	
    color: #fff;
    text-align: center;
    font-weight: 600;
    
}

/* Nav */

.nav {
    display: flex;
    justify-content: center;
}

.link-nav {
	margin: 10px;
    padding: 8px 20px;
    font-weight: 600;
    color: #000066;
	text-decoration: none;
    
    transition: background-color 0.2s linear;
}

.link-nav:hover {
    background-color: #e6e6e6;
	border-radius: 5px;
	box-shadow: 0px 3px 5px #29b443;
}

/* Content */

.intro-img {
    border-radius: 10px;
    box-shadow: 0px 5px 10px #29b443;
    background-color: black;
    opacity: 0.8;
    
    transition: opacity 0.2s linear;
}

.intro-img:hover {
    opacity: 1;
}

.content {
    width: 1000px;
    padding: 0 20px;
}

/*Article*/

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #030d31;
	/*text-align: center;*/
}

.form {
    width: 500px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-textarea {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    width: 275px;
    height: 150px;
    min-height: 150px;
    max-height: 400px;
    padding: 5px;
    resize: both;
}

.form-textarea:focus{
    outline: none;
    border: 1px solid #29b443;
    box-shadow: 0px 0px 8px #29b443;
    -moz-box-shadow: 0px 0px 8px #29b443;
    -webkit-box-shadow: 0px 0px 8px #00ff8c;
}

.form-textarea:hover{
    outline: none;
    /*border: 1px solid #29b443;*/
    box-shadow: 0px 0px 8px #00FF00;
    -moz-box-shadow: 0px 0px 8px #29b443;
    -webkit-box-shadow: 0px 0px 8px #00FF00
}


input[type="text"]{ 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
}


 
input[type="text"]:focus{ 
    outline: none; 
    border: 1px solid #29b443; 
    box-shadow: 0px 0px 8px #29b443; 
    -moz-box-shadow: 0px 0px 8px #29b443; 
    -webkit-box-shadow: 0px 0px 8px #00ff8c; 
} 

input[type="text"]:hover{ 
    outline: none; 
    /*border: 1px solid #29b443;*/
    box-shadow: 0px 0px 8px #00FF00; 
    -moz-box-shadow: 0px 0px 8px #29b443; 
    -webkit-box-shadow: 0px 0px 8px #00FF00 
} 

/*type password*/

input[type="password"]{ 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
input[type="password"]:focus{ 
    outline: none; 
    border: 1px solid #29b443; 
    box-shadow: 0px 0px 8px #29b443; 
    -moz-box-shadow: 0px 0px 8px #29b443; 
    -webkit-box-shadow: 0px 0px 8px #00ff8c; 
} 

input[type="password"]:hover{ 
    outline: none; 
    /*border: 1px solid #29b443;*/
    box-shadow: 0px 0px 8px #00FF00; 
    -moz-box-shadow: 0px 0px 8px #29b443; 
    -webkit-box-shadow: 0px 0px 8px #00FF00 
}


/*оформление таблицы */
/*.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #ffa38f;
    font-size: 14px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table  tr:nth-child(even){
    background: #ffcc99;
}
.table  tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table  tr td:last-child {
    border-radius: 0 8px 8px 0;
}*/

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #ffa38f;
    font-size: 14px;
    border-top: 1px solid #ff7566;
}
.table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ff7566;
}
.table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ff7566;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tr:nth-child(even) {
    background: #ffcc99;
}
.table tr:last-child td{
    border-bottom: 1px solid #ff7566;
}
.table tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}



/*Radio-button*/

@-webkit-keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
@-moz-keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    /position: relative;
    top: 4.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #00FF00;
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 13.3333px;
    text-align: center;
    line-height: 20px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #00ff8c;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

/*Checkbox*/

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #00FF00;
  background-color: #00FF00;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
   -webkit-animation: boom .5s;
}
  
/*Footer*/

.footer {
    padding: 20px;
    background-color: #19085f;
    color: #fff;
    text-align: center;
	border-radius: 10px;
}

@-webkit-keyframes boom {

    25% {
        -webkit-transform: scale(1.25);
    }
}

