body {
    margin: 0;
    
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    
	background-color: #f2f2f2;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.page {
    width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #fff;
} 

/* Поскольку все margin прописываюся в ручную, то имеет смысл сбросить изначально все автоматические отступы по умолчанию для заголовков*/
h1, h1, h3, h4, h5, h6 {
    margin: 0;
}

.conteiner {
    display: flex;
}

/*Ниже приведен пример адаптации картинки к размерам страницы млм блока. Так она выравнивается под размер сама, без нудных подсчетов*/
.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Header */

.header {
    padding: 20px;
    border-radius: 10px;
	background-image: url(intro2.jpg);
    /*background-color: #19085f;*/
}

.header-title {
    margin: 0;
    
    font-size: 24px;
    color: #ff7854;
    text-align: center;
    
}

.header-subtitle {
    margin: 0;
    
    font-size: 18px;
	
    color: #ff7854;
    text-align: center;
    font-weight: 600;
    
}

.header-maine {
	margin: 0;
    font-size: 24px;
    color: #000066;
    text-align: center;
    font-weight: 600;
}

/* Nav */

.nav {
    display: flex;
    justify-content: center;
}

.link-nav {
	margin: 10px;
    padding: 8px 20px;
    font-weight: 600;
    color: #000066;
	text-decoration: none;
    
    transition: background-color 0.2s linear;
}

.link-nav:hover {
    background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 5px #29b443;
}

/* Content */

.intro-img {
    border-radius: 10px;
    box-shadow: 0px 5px 10px #29b443;
    background-color: black;
    opacity: 0.8;
    
    transition: opacity 0.2s linear;
}

.intro-img:hover {
    opacity: 1;
}

.lego-pic {
	border-radius: 10px;
    box-shadow: 0px 5px 10px #29b443;
	margin-left: auto;
    margin-right: auto
}

#bord {
	border-radius: 10px;
    box-shadow: 0px 5px 10px #29b443;
	margin-left: auto;
    margin-right: auto
}

.content {
    width: 1000px;
    padding: 0 2px;
}

.benefits {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.column {
    width: 45%;
    padding: 15px;
    margin: 15px;
    background-color: #99ff99;

}

.column:hover {
    border-radius: 5px;
    box-shadow: 0px 3px 5px  #000000;
}


/*Article*/

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #030d31;
	/*text-align: center;*/
}

/*Footer*/

.footer {
    padding: 20px;
    background-image: url('intro2.jpg');
    background-position: 50%;
    color: #ff7854;
    text-align: center;
	border-radius: 10px;
    
}

/*Картинки на страничке works*/

#one{
	opacity: 0.8;
    transition: opacity 0.2s linear, transform 0.5s linear;
	
	position: relative;
	right: -70px;
	top: 40px;
}

#one:hover {
    opacity: 1;
	transform: scale(1.02);
	z-index: 2;
}

#two{
	opacity: 0.8;
    transition: opacity 0.2s linear, transform 0.5s linear;
	
	position: relative;
    right: -235px;
    top: 0px;
  
}
#two:hover {
    opacity: 1;
	transform: scale(1.02);
	z-index: 2;
}

#three{
	opacity: 0.8;
    transition: opacity 0.2s linear, transform 0.5s linear;
	
	position: relative;
    right: -395px;
    top: -35px;

}

#three:hover {
    opacity: 1;
	transform: scale(1.02);
	z-index:3;
}

#four{
	opacity: 0.8;
    transition: opacity 0.2s linear, transform 0.5s linear;
	
	position: relative;
    right: -560px;
    top: -70px;

}

#four:hover {
    opacity: 1;
	transform: scale(1.02);
	z-index:4;
}

#five{
	opacity: 0.8;
    transition: opacity 0.2s linear, transform 0.5s linear;
	
	position: relative;
    right: -720px;
    top: -110px;

}

#five:hover {
    opacity: 1;
	transform: scale(1.02);
	z-index:5;
}






